{% extends 'base.html' %}

{% block title%}
Alumnos{% endblock%}
   

{% block content %}
  <div class="well span12">
<div class="panel panel-info">
  <div class="panel-heading">
  
 {% if user.is_authenticated %}
   <h3 class="panel-title">Alumnos&nbsp;&nbsp;<span class="badge badge-info">{{alumnos.count}}</span></h3>
    
  </div>
  <div class="panel-body ">
 
<table class="table table-bordered table-hover " data-sortable="true" data-toggle="table">

    <thead>
    <tr>
        <th>username</th>
        <th>nombre</th>
        <th>apellidop</th>
        <th>apellidom</th>
        <th>sexo</th>
        <th>correo</th>
        <th>curp</th>
        <th>fechanacimiento</th>
        <th>rh</th>
        <th>tutor</th>
        <th>grupo</th>
        <th></th>
    </tr>
    </thead>
   
  <tbody>

  {% for alumno in alumnos %}
  <tr class="info">
        <td>{{alumno.usuario}}</td>
        <td>{{alumno.nombrea}}</td>
        <td>{{alumno.apellidoPa}}</td>
        <td>{{alumno.apellidoMa}}</td>
        <td>{{alumno.sexo}}</td>
        <td>{{alumno.correo}}</td>
        <td>{{alumno.curp}}</td>
        <td>{{alumno.fechanacimiento}}</td>
        <td>{{alumno.rh}}</td>
        <td>{{alumno.tutor1}}</td>
        <td>{{alumno.idgrupo}}</td>

          
 
    <td>
    <a href="/vercalificaciones{{alumno.idgrupo}}/"><i class="icon-book"></i></a> 
    {% if perms.calificaciones.change_alumno%}
    <a href="/actualizaralumno/{{alumno.pk}}"><i class="icon-pencil"></i></a>
    {% endif %}
    {% if perms.calificaciones.delete_alumno%}
    <a href="/eliminaralumno/{{alumno.usuario}}/delete/"><i class="icon-minus-sign"></i></a>
    {% endif %}
    </td>
    

    {% endfor %}
  </tr>
  
<tr>
 
  </tr>
</tbody>
   {% if perms.calificaciones.add_alumno%}
   <td><a href="/registraralumno/"><i class="icon-plus-sign"></a></td> 
  {% endif %}
</table>


    {% endif %}



  </div>
  

</div>
</div>

	
    
{% endblock%}
