{% extends 'base.html' %}
{% block title%}Calificaciones{% endblock%}

{% block content %}



{% if user.is_authenticated %}


<!--
<h2 class="form-signin-heading">Usted PUEDE CREAR BOLETAS</h2>


<h2 class="form-signin-heading">Usted SOLO puede VER </h2>  -->
<form class="span12" method="POST" class="evento" action="#" id="evento" runat="server" enctype='multipart/from-data'>
      {% csrf_token %} 
       <div class="well">
  <div class="panel panel-info">
   <div class="panel-heading">

   <div style="display:none;">
     Codigo de boleta:&nbsp;{{form.codigoboleta}}&nbsp; profesor:&nbsp;{{form.idprofesor}}&nbsp;ALUMNO:&nbsp;{{form.idalumno}} {{form.idescuela}} {{form.cicloescolar}}
    
      Ciclo escolar: {{form.cicloescolar}}&nbsp;&nbsp;&nbsp;&nbsp;Grupo:{{form.idgrupo}}
      </div>

     <h4 class="panel-title">Calificaciones&nbsp;&nbsp;<span class="badge badge-info"></span></h4>
    

  </div>

 <div class="panel-body">
<table class="table table-bordered table-hover sortable-theme-bootstrap" class="span3" data-sortable="true" data-toggle="table" style="background:#FFFFFF">

    <thead style="background:#D3D3D3">
    <tr>
    <td style="background:#A4A4A4" class="span3"><strong>ASIGNATURAS</strong></td>
    <td class="span1"><strong>I</strong></td>
    <td class="span1"><strong>II</strong></td>
    <td class="span1"><strong>III</strong></td>
    <td class="span1"><strong>IV</strong></td>
    <td class="span1"><strong>V</strong></td>
    <td style="background:#A4A4A4" class="span1"><strong><p>PROMEDIO</p>
    <p>FINAL</p></strong></td>
  </tr>
    </thead>

  <tbody>
  <tr>
    <td><strong>ESPAÑOL</strong></td>
    <td><input class="span1" name="espanol1" type="number" value="{{calificaciones.espanol1}}" /></td>
    <td><input class="span1" name="espanol2" type="number" value="{{calificaciones.espanol2}}"/></td>
    <td><input class="span1" name="espanol3" type="number" value="{{calificaciones.espanol3}}"/></td>
    <td><input class="span1" name="espanol4" type="number" value="{{calificaciones.espanol4}}"/></td>
    <td><input class="span1" name="espanol5" type="number" value="{{calificaciones.espanol5}}"/></td>
    <td><input class="span1" name="espanolpromedio" type="number" value="{{calificaciones.espanolpromedio}}"/></td>
  </tr>
  <tr>
    <td><strong>MATEMATICAS</strong></td>
    <td><input class="span1" name="matematicas1" type="number" value="{{calificaciones.matematicas1}}" /></td>
    <td><input class="span1" name="matematicas2" type="number" value="{{calificaciones.matematicas2}}"/></td>
    <td><input class="span1" name="matematicas3" type="number" value="{{calificaciones.matematicas3}}"/></td>
    <td><input class="span1" name="matematicas4" type="number" value="{{calificaciones.matematicas4}}"/></td>
    <td><input class="span1" name="matematicas5" type="number" value="{{calificaciones.matematicas5}}"/></td>
    <td><input class="span1" name="matematicaspromedio" type="number" value="{{calificaciones.matematicaspromedio}}"/></td>
  </tr>
  <tr>
    <td><strong>CIENCIAS NATURALES</strong></td>
    <td><input class="span1" name="ciencias1" type="number" value="{{calificaciones.ciencias1}}" /></td>
    <td><input class="span1" name="ciencias2" type="number" value="{{calificaciones.ciencias2}}"/></td>
    <td><input class="span1" name="ciencias3" type="number" value="{{calificaciones.ciencias3}}"/></td>
    <td><input class="span1" name="ciencias4" type="number" value="{{calificaciones.ciencias4}}"/></td>
    <td><input class="span1" name="ciencias5" type="number" value="{{calificaciones.ciencias5}}"/></td>
    <td><input class="span1" name="cienciaspromedio" type="number" value="{{calificaciones.cienciaspromedio}}"/></td>
  </tr>
  <tr>

  <tr>
    <td><strong>LA ENTIDAD DONDE VIVO</strong></td>
    <td><input class="span1" name="entidad1" type="number" value="{{calificaciones.entidad1}}" /></td>
    <td><input class="span1" name="entidad2" type="number" value="{{calificaciones.entidad2}}"/></td>
    <td><input class="span1" name="entidad3" type="number" value="{{calificaciones.entidad3}}"/></td>
    <td><input class="span1" name="entidad4" type="number" value="{{calificaciones.entidad4}}"/></td>
    <td><input class="span1" name="entidad5" type="number" value="{{calificaciones.entidad5}}"/></td>
    <td><input class="span1" name="entidadpromedio" type="number" value="{{calificaciones.entidadpromedio}}"/></td>
  </tr>
  <tr>

    <td><strong>FORMACION CIVICA Y ETICA</strong></td>
    <td><input class="span1" name="formacion1" type="number" value="{{calificaciones.formacion1}}" /></td>
    <td><input class="span1" name="formacion2" type="number" value="{{calificaciones.formacion2}}"/></td>
    <td><input class="span1" name="formacion3" type="number" value="{{calificaciones.formacion3}}"/></td>
    <td><input class="span1" name="formacion4" type="number" value="{{calificaciones.formacion4}}"/></td>
    <td><input class="span1" name="formacion5" type="number" value="{{calificaciones.formacion5}}"/></td>
    <td><input class="span1" name="formacionpromedio" type="number" value="{{calificaciones.formacionpromedio}}"/></td>
  </tr>
  <tr>
    <td><strong>EDUCACION FISICA</strong></td>
    <td><input class="span1" name="fisica1" type="number" value="{{calificaciones.fisica1}}" /></td>
    <td><input class="span1" name="fisica2" type="number" value="{{calificaciones.fisica2}}"/></td>
    <td><input class="span1" name="fisica3" type="number" value="{{calificaciones.fisica3}}"/></td>
    <td><input class="span1" name="fisica4" type="number" value="{{calificaciones.fisica4}}"/></td>
    <td><input class="span1" name="fisica5" type="number" value="{{calificaciones.fisica5}}"/></td>
    <td><input class="span1" name="fisicapromedio" type="number" value="{{calificaciones.fisicapromedio}}"/></td>
  </tr>
  <tr>
    <td><strong>EDUCACION ARTISTICA</strong></td>
    <td><input class="span1" name="artistica1" type="number" value="{{calificaciones.artistica1}}" /></td>
    <td><input class="span1" name="artistica2" type="number" value="{{calificaciones.artistica2}}"/></td>
    <td><input class="span1" name="artistica3" type="number" value="{{calificaciones.artistica3}}"/></td>
    <td><input class="span1" name="artistica4" type="number" value="{{calificaciones.artistica4}}"/></td>
    <td><input class="span1" name="artistica5" type="number" value="{{calificaciones.artistica5}}"/></td>
    <td><input class="span1" name="artisticapromedio" type="number" value="{{calificaciones.artisticapromedio}}"/></td>
  </tr>
  <tr>
    <td style="background:#A4A4A4"><strong>INASISTENCIAS</strong></td>
    <td><input class="span1" name="inasistencias1" type="number" value="{{calificaciones.inasistencias1}}" /></td>
    <td><input class="span1" name="inasistencias2" type="number" value="{{calificaciones.inasistencias2}}"/></td>
    <td><input class="span1" name="inasistencias3" type="number" value="{{calificaciones.inasistencias3}}"/></td>
    <td><input class="span1" name="inasistencias4" type="number" value="{{calificaciones.inasistencias4}}"/></td>
    <td><input class="span1" name="inasistencias5" type="number" value="{{calificaciones.inasistencias5}}"/></td>
    <td><input class="span1" name="inasistenciastotal" type="number" value="{{calificaciones.inasistenciastotal}}"/></td>
  </tr>
  </tbody>
</table>


Aviso1: {{form.aviso1}}&nbsp;&nbsp;Aviso2: {{form.aviso2}}&nbsp;&nbsp;Aviso3: {{form.aviso3}}
<br />
<div class="pagination pagination-right">
Promovido:{{form.promovido}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;promedio: {{form.promedio}}<br />

Lugar de validacion: {{form.lugardevalidacion}}<br />

<button class="btn btn-large btn-primary" type="submit">Actualizar</button>   
</div>

 </div>
 </div>
 </div>



</form>




 {% endif %}


{% endblock%}