{% extends 'base.html' %}

{% block title%}
Grupos
{% endblock%}
   

{% block content %}

  <div class="well  span12 ">
<div class="panel panel-info">
  <div class="panel-heading">
  {% if user.is_authenticated %}
   <h3 class="panel-title">Grupos&nbsp;&nbsp;<span class="badge badge-info">{{grupos.count}}</span></h3>
    
  </div>
  <div class="panel-body ">
 
<table class="table table-bordered table-hover sortable-theme-bootstrap" data-sortable="true" data-toggle="table">

    <thead>
    <tr>
        <th class="span2">grado grupo</th>
        <th>profesor</th>
        <th class="span1"></th>
    </tr>
    </thead>
   
  <tbody>

  {% for grupo in grupos%}
  <tr class="info">
        <td>{{grupo.gradogrupo}}</td>
        <td>{{grupo.idprofesor}}</td>
       </td>
          
    {% if perms.calificaciones.change_grupo%}
    <td><a href="/editargrupo/{{grupo.pk}}"><i class="icon-pencil"></i></a> 
    {%endif%}
    {% if perms.calificaciones.delete_grupo%}
    <a href="/eliminargrupo/{{grupo.pk}}/delete/"><i class="icon-minus-sign"></i></a></td>
    {%endif%}
    {% endfor %}
  </tr>
  
<tr>
 
  </tr>
  
</tbody>
<td><a href="/registrargrupo/"><i class="icon-plus-sign"></a></td> 
</table>

{% else %}

    <h2 class="form-signin-heading">Usted no esta autorizado</h2>
    {% endif %}

  </div>
  

</div>
</div>

{% endblock%}
   

