{% extends 'base.html' %}

{% block title%}
Personal
{% endblock%}
   

{% block content %}

  <div class="well">
<div class="panel panel-info">
  <div class="panel-heading">
   {% if perms.calificaciones.add_personal%}
   <h3 class="panel-title">Personal&nbsp;&nbsp;<span class="badge badge-info">{{personal.count}}</span></h3>
    
  </div>
  <div class="panel-body">
 
<table class="table table-bordered table-hover sortable-theme-bootstrap" data-sortable="true" data-toggle="table">

    <thead>
    <tr>
        <th>username</th>
        <th>nombre</th>
        <th>apellidop</th>
        <th>apellidom</th>
        <th>clavepresupuestal</th>
        <th>telefono</th>
        <th>direccion</th>
        <th>curp</th>
        <th>aingresep</th>
        <th>aingreescuela</th>
        <th>aingrezona</th>
        <th>fechanacimiento</th>
        <th>rfc</th>
        <th>cargo</th>
    </tr>
    </thead>
   
  <tbody>

  {% for persona in personal %}
  <tr class="info">
        <td>{{persona.usuario}}</td>
        <td>{{persona.nombre}}</td>
        <td>{{persona.apellidop}}</td>
        <td>{{persona.apellidom}}</td>
        <td>{{persona.clavepresupuestal}}</td>
        <td>{{persona.telefono}}</td>
        <td>{{persona.direccion}}</td>
        <td>{{persona.curp}}</td>
        <td>{{persona.aingresep}}</td>
        <td>{{persona.aingreescuela}}</td>
        <td>{{persona.aingrezona}}</td>
        <td>{{persona.fechanacimiento}}</td>
        <td>{{persona.rfc}}</td>
        <td>{{persona.cargo}}</td>
          
 
    <td><a href="/admin/partidos/partido/"><i class="icon-pencil"></i></a> 
    <a href="/admin/partidos/partido/"><i class="icon-minus-sign"></i></a></td>
    {% endfor %}
  </tr>
  
<tr>
 
  </tr>

</tbody>

   <td><a href="/registrarpersonal/"><i class="icon-plus-sign"></a></td> 

</table>

{% else %}

    <h2 class="form-signin-heading">Usted no esta autorizado</h2>
    {% endif %}

  </div>
  

</div>
</div>

	
    
{% endblock%}
   
