{% extends 'base.html' %}

{% block title%}
Registrar grupo
{% endblock%}
   

{% block content %}
 <div class="container">
  {% if perms.calificaciones.add_grupo%}

		<form class="form-signin" method="POST" class="evento" action="#" id="evento" runat="server" enctype='multipart/from-data'>
      {% csrf_token %} 

        <h2 class="form-signin-heading">Nuevo Grupo</h2>

        <input type="text" 
        required  name="gradogrupo" placeholder="1A" class="input-block-level" onkeypress="upperCase('gradogrupo');" PATTERN="[a-zA-Z0-9áéíóúüñÁ.'-]+([ a-zA-Z0-9áéíóúüñÁ.'-]+[a-zA-Z0-9áéíóúüñÁ.'-]+$)*$" REQUIRED/>{{form.gradogrupo.errors}}

        Curp Profesor:&nbsp;&nbsp;{{form.idprofesor}} &nbsp;&nbsp;<a href="/registrarpersonal/"><i class="icon-plus-sign"></i></a> &nbsp;&nbsp;&nbsp;

        <button class="btn btn-large btn-primary" type="submit">Registráte</button>
        
		</form>
		{% else %}

		<h2 class="form-signin-heading">Usted no esta autorizado</h2>
		{% endif %}

    </div> <!-- /container -->
	
	<script type="text/javascript" src="../../media/bootstrap/js/JSFunctions.js"></script>
	
{% endblock%}

