{% extends 'base.html' %}

{% block title%}
Registrar Personal
{% endblock%}
   

{% block content %}



 <div class="container">
 {% if user.is_authenticated %}

		<form class="form-signin" method="POST" class="evento" action="#" id="evento" runat="server" enctype='multipart/from-data'>
      {% csrf_token %} 

        <h2 class="form-signin-heading">Nuevo Personal</h2>

        <input type="text" 
        required  name="username" placeholder="Nombre de usuario" class="input-block-level" >{{form.username.errors}}

        <input type="text" 
        required  name="nombre" placeholder="Nombre" class="input-block-level" >{{form.nombre.errors}}

        
        <input type="text" 
        required name="apellidop" placeholder="Apellido paterno" class="input-block-level" >{{form.apellidop.errors}}

        <input type="text" required name="apellidom" placeholder="Apellido Materno" class="input-block-level" >{{form.apellidom.errors}}
          
        <input type="text" required name="clavepresupuestal" placeholder="Clave presupuestal " class="input-block-level" >{{form.clavepresupuestal.errors}}

        <input type="text" required
        name="telefono" placeholder="Telefono" class="input-block-level" >{{form.telefono.errors}}

        <input type="text" required name="direccion" placeholder="Direccion" class="input-block-level" >{{form.direccion.errors}}

        <input type="text" required name="correo" placeholder="Correo electronico" class="input-block-level" >{{form.correo.errors}}

        <input type="text" required name="curp"   placeholder="Curp" class="input-block-level" >{{form.curp.errors}}

        <input type="text" required name="aingresep"   placeholder="Año de ingreso a la SEP" class="input-block-level" >{{form.aingresep.errors}}

        <input type="text" required name="aingreescuela"   placeholder="Año de ingreso a la escuela" class="input-block-level" >{{form.aingreescuela.errors}}

        <input type="text" required name="aingrezona"   placeholder="Año de ingreso a la zona" class="input-block-level" >{{form.aingrezona.errors}}

        <input type="date" required name="fechanacimiento"  
          class="col_12" placeholder="2014-10-26" class="input-block-level" >{{form.fechanacimiento.errors}}

        <input type="text" required name="rfc"  placeholder="RFC" class="input-block-level" >{{form.rfc.errors}}

        <input type="text" required name="cargo"  placeholder="Cargo" class="input-block-level" >{{form.cargo.errors}}

        <input type="password" required name="password1" placeholder="CONTRASEÑA" class="input-block-level" > {{form.password1.errors}}

        <input type="password" required name="password2" placeholder="VERIFIQUE CONTRASEÑA" class="input-block-level" > {{form.password2.errors}}

  
        <button class="btn btn-large btn-primary" type="submit">Registráte</button>
        
		</form>
		{% else %}

		<h2 class="form-signin-heading">Usted no esta autorizado</h2>
		{% endif %}


      

    </div> <!-- /container -->
	
    

 {% endblock%}