{% extends 'base.html' %}

{% block title%}
Registrar tutor
{% endblock%}
   
{% block content %}
 <div class="container">
{% if perms.calificaciones.add_tutor%}

		<form class="form-signin" method="POST" class="evento" action="#" id="evento" runat="server" enctype='multipart/from-data'>
      {% csrf_token %} 

        <h2 class="form-signin-heading">Nuevo Tutor</h2>

        <input type="text" 
        required  name="nombreT" placeholder="Nombre" class="input-block-level" >{{form.nombreT.errors}}

        
        <input type="text" 
        required name="apellidoPt" placeholder="Apellido paterno" class="input-block-level" >{{form.apellidoPt.errors}}

        <input type="text" required name="apellidoMt" placeholder="Apellido Materno" class="input-block-level" >{{form.apellidoMt.errors}}
          
        <input type="text" required name="ocupacion" placeholder="Ocupacion" class="input-block-level" >{{form.ocupacion.errors}}

        <input type="text" required
        name="direccion" placeholder="Direccion" class="input-block-level" >{{form.direccion.errors}}

        <input type="text" required name="telefonoCasa" placeholder="Telefono Casa" class="input-block-level" >{{form.telefonoCasa.errors}}

        <input type="text" required name="telefonoCel" placeholder="Telefono Celular" class="input-block-level" >{{form.telefonoCel.errors}}

        <input type="text" required name="idT"   placeholder="idT" class="input-block-level" >{{form.idT.errors}}
  
        <button class="btn btn-large btn-primary" type="submit">Registráte</button>
        
		</form>
		{% else %}

		<h2 class="form-signin-heading">Usted no esta autorizado</h2>
		{% endif %}


      

    </div> <!-- /container -->
	
    
{% endblock%}
