{% extends 'base.html' %}

{% block title%}
Tutor
{% endblock%}
   

{% block content %}


  <div class="well">
<div class="panel panel-info">
  <div class="panel-heading">
  {% if perms.calificaciones.add_tutor%}
   <h3 class="panel-title">Tutores&nbsp;&nbsp;<span class="badge badge-info">{{tutores.count}}</span></h3>
    
  </div>
  <div class="panel-body">
 

<table class="table table-bordered table-hover sortable-theme-bootstrap" data-sortable="true" data-toggle="table">

    <thead>
    <tr>
        <th>nombre completo</th>
        <th>ocupacion</th>
        <th>direccion</th>
        <th>telefono casa</th>
        <th>telefono celular</th>
        <th></th>
    </tr>
    </thead>
   
  <tbody>

  {% for tutor in tutores %}
  <tr class="info">
        <td>{{tutor.nombreT}}&nbsp;{{tutor.apellidoPt}}&nbsp;{{tutor.apellidoMt}}</td>
        <td>{{tutor.ocupacion}}</td>
        <td>{{tutor.direccion}}</td>
        <td>{{tutor.telefonoCasa}}</td>
        <td>{{tutor.telefonoCel}}</td>
          
    <td><a href="/"><i class="icon-pencil"></i></a> 
    <a href="/"><i class="icon-minus-sign"></i></a></td>
    {% endfor %}
  </tr>
  
<tr>
 
  </tr>

</tbody>

</table>

{% else %}

    <h2 class="form-signin-heading">Usted no esta autorizado</h2>
    {% endif %}

  </div>
  

</div>
</div>

{% endblock%}
    

      

