{% extends 'base.html' %}
{% block title%}
Primaria Independecia
{% endblock%}
   
{% block navbar%}

{% endblock%}

{% block tabla%}

{% endblock%}

{% block content %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/escuela.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Sign up today</a>
            </div>
          </div>
        </div>
        
        <div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/prof_2.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
        <div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000179.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
        <div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000178.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
        <div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000176.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
        <div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000173.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
        <div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000172.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
        <div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000165.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
        <div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000163.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
        <div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000161.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
        <div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000157.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000152.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000144.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000142.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000141.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000139.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000135.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000133.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000127.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000126.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000125.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000124.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000116.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000114.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000112.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000110.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000106.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000058.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000057.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000023.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000020.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000019.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000018.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000017.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000016.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/PERS, DOC. CLAUSURA 2014.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/altAlyZ2aKoHPI4uM2FUSwuRp33on6vfN6vcgjevCPud0g_.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Plataforma Vitual de primaria.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Entrar</a>
            </div>
          </div>
        </div>
		
        <div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Memoria historica fotografica</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="galeria.html">Abrir galeria</a>
            </div>
          </div>
        </div>
        
         <div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/biblioteca.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Libreria Virtual.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Ver</a>
            </div>
          </div>
        </div>
        
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="{{MEDIA_URL}}bootstrap/img/examples/browser-icon-chrome.png">
        <h2 class="featurette-heading">MISION<span class="muted"></span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="{{MEDIA_URL}}bootstrap/img/examples/browser-icon-firefox.png">
        <h2 class="featurette-heading">VISION<span class="muted"></span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="{{MEDIA_URL}}bootstrap/img/examples/browser-icon-safari.png">
        <h2 class="featurette-heading">OFERTA<span class="muted"></span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>


      <hr class="featurette-divider">



      <!-- /END THE FEATURETTES -->


     {% endblock%}
   
