{% extends 'base.html' %}
{% block title%}
Primaria Independecia
{% endblock%}
   
{% block navbar%}

{% endblock%}

{% block tabla%}

{% endblock%}

{% block content %}
    <!-- Carousel
    ================================================== -->
    </br>
    </br>
    </br>
    </br>
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        

    <div class="item active">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000133.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1></br></h1>
              <p class="lead"></br></p>
              <a class="btn btn-large btn-primary" href="/login/">ENTRAR</a>
            </div>
          </div>
        </div>


<div class="item  ">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/PERS, DOC. CLAUSURA 2014.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Personal</h1>
              <p class="lead">Nuestro personal docente y de servicios</p>
             
            </div>
          </div>
        </div>


    
        
        <div class="item ">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/prof_2.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>MISION</h1>
              <p class="lead">Ofrecer un servicio educativo que asegure a los alumnos una educación suficiente y de calidad que contribuya como factor estratégico de justicia social, que los forme como sujetos competentes  en donde se favorezca el desarrollo de sus habilidades para acceder a mejores condiciones de vida, aprendan a vivir en forma solidaria  y democrática y sean capaces de transformar su entorno.</p>
              
            </div>
          </div>
        </div>
		
        
		
        <div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000165.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>VISION</h1>
              <p class="lead">Consolidar a la educación primaria como eje fundamental de la educación básica  hasta alcanzar niveles de excelencia, conjuntando con responsabilidad los esfuerzos de autoridades y sociedad para brindar un servicio eficiente y eficaz que satisfaga plenamente las necesidades y expectativas de los educandos, logrando su desarrollo armónico e integral</p>
              
            </div>
          </div>
        </div>

		
       
		
		<div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000141.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>OFERTA</h1>
              <p class="lead">Asegurar que los niños y niñas:
 
Adquieran y desarrollen las habilidades intelectuales que les permitan aprender permanentemente y con independencia, así como actuar con eficacia e iniciativa en las cuestiones prácticas de la vida cotidiana.
Adquieran los conocimientos fundamentales para comprender los fenómenos naturales.</p>
              
            </div>
          </div>
        </div>
		


    <div class="item">
          <img src="{{MEDIA_URL}}bootstrap/img/examples/WP_000018.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Aula de medios.</h1>
              <p class="lead">Educacion tecnologica imprescindible para el futuro.</p>
              
            </div>
          </div>
        </div>



		

		
		
        
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    

      <!-- START THE FEATURETTES -->



      <!-- /END THE FEATURETTES -->


     {% endblock%}
   
