{% extends 'base.html' %}

{% block title%}
Normatividad
{% endblock%}
   

{% block content %}

    <div class="container marketing">
 <h2 class="featurette-heading">Directorio<span class="muted"></span></h2>
 <table width="200" border="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  
</table>

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
        
          <img class="img-circle" data-src="{{MEDIA_URL}}holder.js/140x140">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="{{MEDIA_URL}}holder.js/140x140">
          <h2>Heading</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="{{MEDIA_URL}}holder.js/140x140">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="{{MEDIA_URL}}bootstrap/img/examples/browser-icon-chrome.png">
        <h2 class="featurette-heading">Estructura organica<span class="muted"></span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="{{MEDIA_URL}}bootstrap/img/examples/browser-icon-firefox.png">
        <h2 class="featurette-heading">Normatividad<span class="muted"></span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="{{MEDIA_URL}}bootstrap/img/examples/browser-icon-safari.png">
        <h2 class="featurette-heading">Contacto<span class="muted"></span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d801.2563044237812!2d-96.7411753!3d17.0947379!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c721fad9ceee53%3A0x2d08437b00996e8!2sZempoalt%C3%A9petl+667%2C+Lomas+de+Santa+Rosa%2C+68010+Oaxaca%2C+Oax.!5e1!3m2!1ses-419!2smx!4v1430712240596" width="600" height="450" frameborder="0" style="border:0"></iframe>
        
        </p>
      </div>


      <hr class="featurette-divider">



      <!-- /END THE FEATURETTES -->
{% endblock%}
   



